# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/.name
.idea/kotlinc.xml
.idea/vcs.xml
mfs-intf/src/main/java/com/my/intf/test/
mfs-intf/target/.gitignore
mfs-intf/target/classes/
mfs-intf/target/generated-sources/
mfs-intf/target/maven-status/
mfs-pom/src/
mfs-service/src/main/java/com/my/impl/test/
mfs-service/target/classes/
mfs-service/target/generated-sources/
mfs-service/target/maven-status/
mfs-web/src/main/java/com/my/controller/test/
mfs-web/src/main/webapp/
mfs-web/target/classes/
mfs-web/target/generated-sources/
mfs-web/target/mfs-web/META-INF/
mfs-web/target/mfs-web/WEB-INF/classes/
mfs-web/target/mfs-web/WEB-INF/lib/mfs-intf-1.0.0.jar
mfs-web/target/mfs-web/WEB-INF/lib/mfs-service-1.0.0.jar
/mfs-web/target/
/mfs-service/target/
/mfs-intf/target/
