# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/mfs-intf/mfs-intf.iml
/mfs-pom/mfs-pom.iml
/mfs-service/mfs-service.iml
/mfs-web/mfs-web.iml
